x-bin-base: &bin-base
  restart: unless-stopped
  environment:
    - RUST_LOG=${RUST_LOG:-info}

services:
  gateway:
    <<: *bin-base
    image: fabric/gateway:${VERSION:-dev}
    env_file:
      - ./config/docker/gateway.env
    volumes:
      - ./config/docker/gateway.toml:/app/config.toml:ro
      - ./data/rocksdb:/app/data/rocksdb
    expose:
      - "8080"
      - "8082"
    depends_on:
      - relay

  relay:
    <<: *bin-base
    image: fabric/relay:${VERSION:-dev}
    env_file:
      - ./config/docker/relay.env
    volumes:
      - ./config/docker/relay.toml:/app/config.toml:ro
      - ./data/rocksdb:/app/data/rocksdb
    expose:
      - "9999"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9999/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
    depends_on:
      - beacon-mock

  proposer:
    <<: *bin-base
    image: fabric/proposer:${VERSION:-dev}
    env_file:
      - ./config/docker/proposer.env
    volumes:
      - ./config/docker/proposer.toml:/app/config.toml:ro
      - ./data/rocksdb:/app/data/rocksdb
    depends_on:
      - signer
      - beacon-mock
      - relay

  spammer:
    <<: *bin-base
    image: fabric/spammer:${VERSION:-dev}
    env_file:
      - ./config/docker/spammer.env
    volumes:
      - ./config/docker/spammer.toml:/app/config.toml:ro
    depends_on:
      - gateway

  signer:
    <<: *bin-base
    image: fabric/signer:${VERSION:-dev}
    env_file:
      - ./config/docker/signer.env
    volumes:
      - ./config/docker/signer.toml:/app/config.toml:ro
      - ./data/keystores/keys:/app/data/keystores/keys:ro
      - ./data/keystores/secrets:/app/data/keystores/secrets:ro
      - ./data/proxy:/app/data/proxy

  beacon-mock:
    <<: *bin-base
    image: fabric/beacon-mock:${VERSION:-dev}
    env_file:
    - ./config/docker/beacon-mock.env
    expose:
      - "5052"